img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

main {
    padding: 1.25em;
}

.intro h2 {
    font-size: 3em;
    line-height: 108.2%;
    letter-spacing: -3%;
    margin: 0.5em 0 0 0;
}

.posts {
    margin: 1em 0;
}

.about-me {
    margin-bottom: 2em;
}

h3 {
    text-align: center;
}

@media (min-width: 768px) {
    main {
        padding: 3em;
    }
    .intro {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    .intro-text {
        margin-left: 1em;
    }
}