body {
    background-color: white;
    height: 100vh;
}

main {
    padding: 1.25em;
}

span {
    color: #151515;
}

h2 {
    font-size: 2em;
    line-height: 108.2%;
    letter-spacing: -3%;
    margin: 0.5em 0 0 0;
}

h3 {
    text-align: center;
}

.hero-div {
    width: 100%;
    height: 30vh;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 90%;
}

@media (min-width: 768px) {
    main {
        padding: 3em;
    }

    .hero-div {
        height: 40vh;
    }

    .blog-content {
        padding: 0 2em;
    }

    .hero-image {
        object-position: 0 75%;
    }
}