/* Layout */

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    background-color: #FAFAFA;
}

header {
    padding: 1em;
    justify-content: space-between;
    color: #0E0E0E;
    background-color: white;
}

img {
    max-width: 100%;
}

/* Typography */

a {
    text-decoration: none;
    color: #0E0E0E;
}

span {
    font-size: 0.75rem;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}

header h1,
header a {
    font-size: 0.75rem;
}

header a {
    text-transform: uppercase;
    font-weight: 600;
}

header a:hover {
    border-bottom: 2px solid #0E0E0E;
}

header h1 {
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
}

/* Classes */

.logo {
    width: 25px;
    height: 25px;
}

.logocontainer {
    gap: 0.5em;
}

.navcontainer {
    gap: 2em;
}

/* Classes: post section */

.posts {
    display: grid;
    margin: 1em;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-auto-columns: minmax(320px, 1fr);
    grid-auto-flow: row;
    gap: 1em;
}

.posts img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    max-height: 192px;
    margin-bottom: 0.5em;
}

.posts p {
    color: #505050;
    margin: 0;
}

.posts h2 {
    margin: 0.25em 0;
}

/* Utility */

.flexrow {
    display: flex;
    flex-direction: row;
}

.vertcenter {
    align-items: center;
}

.bold {
    font-weight: bold;
}

/* Media rules */

@media (min-width: 768px) {
    header {
        padding: 1em 2em;
    }
    
    header h1 {
        font-size: 1.25rem;
    }

    header a {
        font-size: 1rem;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

}